body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    nav h1 {
        font-size: 24px;
    }

    nav ul {
        list-style: none;
    }

        nav ul li {
            display: inline-block;
            margin-left: 20px;
        }

            nav ul li a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                transition: color 0.3s;
            }

                nav ul li a:hover {
                    color: #ff9900;
                }

/* Section Contact */
#contact-form {
    background-color: #f4f4f4;
    padding: 100px 0;
    text-align: center;
}

    #contact-form h2 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    #contact-form form {
        max-width: 500px;
        margin: 0 auto;
    }

    #contact-form label {
        display: block;
        margin-bottom: 10px;
    }

    #contact-form input, #contact-form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    #contact-form button {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        #contact-form button:hover {
            background-color: #ff9900;
        }

footer {
    text-align: right;
}
